* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* Allow vertical scrolling */
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50em;
}
.header h1 {
    font-size: 2.5em;
}
.header p {
    font-size: 1.2em;
    margin-top: 10px;
}
.slideshow {
    flex: 2;
    position: relative;
    overflow: hidden;
    height: 636.8px;
}
.slides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slides img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the slide */
}
.navbar {
    background-color: #333;
    overflow: hidden;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    margin-top: -100px;
    border-radius: 5px;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}
.navbar ul li {
    margin: 0 10px;
}
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.navbar ul li a:hover {
    background-color: #ddd;
    color black;
}
section {
    padding: 20px;
    text-align: center;
}
